@font-face {
    font-family: 'SourceSansPro-Black';
    font-style: normal;
    src: url('./../../fonts/SourceSansPro-Black.ttf');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro-Black';
    font-style: normal;
    src: url('./../../fonts/SourceSansPro-Black.ttf');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro-Black';
    font-style: normal;
    src: url('./../../fonts/SourceSansPro-Black.ttf');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro-Black';
    font-style: normal;
    src: url('./../../fonts/SourceSansPro-Black.ttf');
    font-weight: 900;
    font-display: swap;
}

.container {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
  }