.Footer{
    width: 100%;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-bottom: 0px;
    background: rgb(48,78,241);
    background: linear-gradient(90deg, rgba(48,78,241,1) 0%, rgba(238,36,169,1) 100%);
    &__nav{
        margin: 0;
        &__item{
            margin: 20px;
            a{
                color: rgb(255, 255, 255);
                img{
                    margin-right: 20px;
                }
            }
        }
    }
    &__map{
        display: flex;
        &__item{
            border-radius: 10px;
        }
    }
}