@tailwind base;
@tailwind components;
@tailwind utilities;

.spin{
  width: 125px;
  height: 125px;
  justify-content: center;
  /* @apply animate-pulse */
}
.spin:hover .info{
  display: flex;
}
.info{
  padding: 10px;
  border-radius: 10px;
  background-color:rgba(0, 0, 255, 0.621);
  position: absolute;
  top: -30px;
  color: white;
  display: none;
}
.spin::before{
  content: '';
  @apply -top-2 w-32 h-32 rounded-full bg-grey flex absolute -z-10
}
.spin::after{
z-index: -1;
  content: '';
 @apply w-32 h-1  bg-white flex absolute top-14 ;
 @apply animate-spin
}

.liner{
  background: rgb(147,51,234);
  background: linear-gradient(0deg, rgba(147,51,234,1) 24%, rgba(187,139,231,1) 68%);
}



html,
body {
  padding: 0;
  margin: 0;
  font-family:'';
  @apply bg-kokroq
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
