.Link{
    @apply w-36 h-40;
    @apply flex flex-col items-center justify-center;
    @apply text-center p-2  rounded-md;
    @apply shadow-4xl mt-4 hover:scale-105 bg-white ;
    &:hover{
        scale: 1.1;
        transition: 1s;
        border: 2px solid rgb(151, 216, 228);
    }
    &__img{
        @apply w-9 h-9 mb-4 hover:scale-105;
    }
}